<%- include('partials/head') %>


    <body>
        <header>
            <div class="links">
                <a href="#">Sobre</a>
                <a href="#">Projetos</a>
            </div>
        </header>

        <div id="wrapper">
            <img src="https://avatars.githubusercontent.com/u/34656981?s=460&u=739151b6858de519752a748c029b44393a3e38dd&v=4"
                alt="George Lucas" />

            <h1>George Vieira</h1>
            <h2>Desenvolvedor Front-End e Linux SysAdmin </h2>
            <p></p>
        </div>

        <div class="links" id="links-footer">
            <a href="#">Github </a>
            <a href="#">LinkedIn</a>
        </div>

    </body>

    <%- include('partials/footer') %>