{% extends "frontend/header.njk" %}

<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/">Aulas</a>
        </div>
    </header>

    <div id="wrapper">
        <h1>Projetos</h1>
    </div>

    <section class="cards">
        <div class="card_image_container">
            <img src="" alt="">
        </div>

        <div class="card_content">
            <p>Formulário animado com CSS Animation | George Lucas</p>
        </div>
        <div class="card_info">
            <img src="" alt="">
        </div>
    </section>

</body>


{% extends "frontend/footer.njk" %}